# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives

<ul>
<li>List popular languages for Data Science</li>
<li>List commonly libraries used by Data Scientis</li>
<li>Evaluating arithmetic expressions in Python </li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly libraries used by Data Scientist include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Seaborn</li>
</ol>

| Data Science Tools |
|:--------:|
|  Jupiter Notebook   | 
|  RStudio   |
|  Apache Spark   |

### Bellow are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author

Nicole Rivas